---
title: Home
layout: src/templates/layouts/2column-left.hbs
---
<div class="col-12">
<a class="col-12 col-md-4 grid-info mt-5" href ="../../../aboutUs.html">
    <img class="d-block grid-img" src="{{assets}}/images/Grid1.png" alt="Our Story Image">
    <div id="overlay-gray"></div>
</a>
 <h5 class="overlay-center">promo 1</h5>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <a class="col-12 col-md-4 grid-info" href ="../../../aboutUs.html">
            <img class="d-block grid-img" src="{{assets}}/images/Grid3.jpg" alt="Our Story Image">
            <div id="overlay-gray"></div>
        </a>
         <h5 class="overlay-center">promo 2</h5>
    </div>
     <div class="col-12 col-md-6">
         <a class="col-12 col-md-4 grid-info" href ="../../../aboutUs.html">
            <img class="d-block grid-img" src="{{assets}}/images/Grid2.jpg" alt="Our Story Image">
            <div id="overlay-gray"></div>
        </a>
         <h5 class="overlay-center">promo 3</h5>
    </div>
</div>
<div class="card-section">
<div class="card-columns-clp cards-desktop mb-5 mt-3">
  <div class="card">
    <img class="card-img-top" src="{{assets}}/images/CardImage1.jpg" alt="Product 1">
    <div class="card-body">
      <h5 class="card-title">Product title 1</h5>
      <p class="card-text">$100.00</p>
      <div class="inline-group">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare "></span>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{assets}}/images/CardImage2.jpg" alt="Product 2">
    <div class="card-body">
      <h5 class="card-title">Product title 2</h5>
      <p class="card-text">$100.00</p>
      <div class="inline-group">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare"></span>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{assets}}/images/CardImage2.jpg" alt="Product 5">
    <div class="card-body">
      <h5 class="card-title">Product title 5</h5>
      <p class="card-text">$100.00</p>
      <div class="inline-group">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1"></span>
      <span aria-hidden="true" class="icon-compare"></span>
      </div>
    </div>
  </div>
</div>
</div>







