---
title: Home
layout: src/templates/layouts/2column-left.hbs
---
<div class="col-12">
<div class="pl-0 pr-0 grid-info-soft">
<a class="col-12 col-md-4 grid-info mt-5" href ="../../../aboutUs.html">
    <img class="d-block grid-img" src="{{assets}}/images/Grid1.png" alt="Our Story Image">
    <div id="overlay-gray"></div>
</a>
    <h5 class="overlay-center">{{#getDataAtIndex site.categories.0.category site.catalog 0 "promo" false true}}{{/getDataAtIndex}}</h5>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <a class="col-12 col-md-4 grid-info-soft" href ="../../../aboutUs.html">
            <img class="d-block grid-img" src="{{assets}}/images/Grid3.jpg" alt="Our Story Image">
            <div id="overlay-gray"></div>
        </a>
     
            <h5 class="overlay-center">{{#getDataAtIndex site.categories.0.category site.catalog 1 "promo" false true}}{{/getDataAtIndex}}</h5>
    
    </div>
     <div class="col-12 col-md-6">
         <a class="col-12 col-md-4 grid-info-soft" href ="../../../aboutUs.html">
            <img class="d-block grid-img" src="{{assets}}/images/Grid2.jpg" alt="Our Story Image">
            <div id="overlay-gray"></div>
        </a>
        
            <h5 class="overlay-center">{{#getDataAtIndex site.categories.0.category site.catalog 2 "promo" false true}}{{/getDataAtIndex}}</h5>
       {{!-- getDataAtIndex: function(categoryName, catalog, index, feature, condition, name) --}}
    </div>
</div>
<div class="message center mt-4 mb-4">
    <h5 class="display-5 mb-4">Featured Products</h5>
    <img class="line" src="{{assets}}/images/Line.png"/>
</div>
{{!CARDS}}
<div class="card-section">
<div class="card-columns-clp cards-desktop mb-5 mt-3">
  <div class="card">
    <img class="card-img-top" src="{{assets}}/images/CardImage1.jpg" alt="Product 1">
    <div class="card-body">
      <h5 class="card-title">{{#getDataAtIndex site.categories.0.category site.catalog 0 "price.special" null true}}{{/getDataAtIndex}}</h5>
      <p class="card-text">${{#getDataAtIndex site.categories.0.category site.catalog 0 "price.special" null false}}{{/getDataAtIndex}}.00</p>
      <div class="inline-group">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare "></span>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{assets}}/images/CardImage2.jpg" alt="Product 2">
    <div class="card-body">
      <h5 class="card-title">{{#getDataAtIndex site.categories.0.category site.catalog 1 "price.special" null true}}{{/getDataAtIndex}}</h5>
      <p class="card-text">${{#getDataAtIndex site.categories.0.category site.catalog 1 "price.special" null false}}{{/getDataAtIndex}}.00</p>
      <div class="inline-group">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare"></span>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{assets}}/images/CardImage2.jpg" alt="Product 5">
    <div class="card-body">
      <h5 class="card-title">{{#getDataAtIndex site.categories.0.category site.catalog 2 "price.special" null true}}{{/getDataAtIndex}}</h5>
      <p class="card-text">${{#getDataAtIndex site.categories.0.category site.catalog 2 "price.special" null false}}{{/getDataAtIndex}}.00</p>
      <div class="inline-group">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1"></span>
      <span aria-hidden="true" class="icon-compare"></span>
      </div>
    </div>
  </div>
</div>
</div>
</div>






